* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.titre {
  display: flex;
}

.automatisation {
  font-weight: lighter;
  font-family: "Baskervville", Sans-serif;
  font-size: 50px;
  font-style: italic;
  color: white;
  background-color: #1D937D;
  padding: 5%;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 2rem;
  text-align: center;
}

.file-selector {
  display: flex;
  border: 2px dotted #1d937d;
  border-radius: 10px;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.button {
  color: #1d937d;
  background-color: #fff;
  border: solid 4px #1d937d;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  border-color: #1d937d;
  transform: scale(0.9);
}
